.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient( to left, blue, violet );
}

#home {
    background-color: aqua;
    font-size: 500%;
    color: white;
}

#intro {
    background-color: brown;
    flex-wrap: wrap;
}

#like {
    background-color: greenyellow;
    flex-wrap: wrap;
}

body {
    margin: 0;
}

.container_half {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 50%;
}

.card {
    width: 200px;
    height: 300px;
    background-color: red;
    padding: 20px;
    margin: 10px; 
    background: rgba( 255, 255, 255, 0.2 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 6px );
    -webkit-backdrop-filter: blur( 6px );
    border-radius: 10px;
}

.card_image {
    height: 50%;
}

.card_title {
    height: 15%;
    text-align: center;
    margin-top: 5px;
    font-weight: bold;
    font-size: 150%;
}

.card_description {
    height: 35%;
}

.container_title {
    width: 100%;
    font-size: 300%;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#t1 {
    width: 100%;
    height: 100%;
}

.footer {
    height: 10vh;
    background: linear-gradient( to left, blue, violet );

}

.footer-copyright{
    padding: 30px;
    padding-bottom: 40px;
    background: rgba( 255, 255, 255, 0.2 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 6px );
    -webkit-backdrop-filter: blur( 6px );
    border-radius: 10px;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
}

li {
    margin: 10px;
}

.navbar {
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
    position: fixed;
    width: 100vw;
    z-index: 10;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.hello {
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 10px;
}

.circle {
    position: relative;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
    border-radius: 100%;
    padding: 10px;
}

#circle1 {
    width: 150px;
    height: 150px;
    top: -100px;
    left: -550px;
}

#circle2 {
    bottom: -70px;
    left: -50px;
    width: 100px;
    height: 100px;
}

.name {
    color: white;
    font-size: 300%;
    width: 100%;
}

.self_introduce {
    color: white;
}

#my_photo {
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
}